pandas~=1.4.3
pip~=22.2.1
argparse~=1.4.0
colorlog~=6.6.0
cryptography~=37.0.2
lxml~=4.9.0
pytz~=2022.1
numpy~=1.22.4
setuptools~=56.0.0
cffi~=1.15.0
mypy~=0.971
openpyxl~=3.0.10
matplotlib~=3.5.2
MarkupSafe~=1.1.1
python-dateutil~=2.8.2
pyarrow~=8.0.0
xlrd~=1.2.0
SQLAlchemy~=1.4.39
six~=1.16.0